In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests

# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Rikitea,PF,2020-11-08 21:56:38,-23.12,-134.97,73.13,76,87,16.93
1,1,San Cristobal,VE,2020-11-08 22:02:23,7.77,-72.22,82.40,74,40,9.17
2,2,Ushuaia,AR,2020-11-08 21:58:31,-54.80,-68.30,46.40,61,75,39.15
3,3,Kapaa,US,2020-11-08 22:01:34,22.08,-159.32,81.00,69,40,11.41
4,4,Bluff,NZ,2020-11-08 22:01:28,-46.60,168.33,54.00,76,88,8.01

In [3]:
# Get the data tupes.
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [6]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]

# Assign the figure variable.
# fig = gmaps.figure()
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

# Assign the heatmap variable.
# heat_layer = gmaps.heatmap_layer(locations, weights=temps)
# heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp])
heat_layer = gmaps.heatmap_layer(locations, weights=temps, dissipating=False, max_intensity=300, point_radius=4)

# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Heatmap of Wind
locations = city_data_df[["Lat", "Lng"]]

# Wind = city_data_df["Wind Speed"]
wind = city_data_df["Wind Speed"]

fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [11]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
1,1,San Cristobal,VE,2020-11-08 22:02:23,7.77,-72.22,82.40,74,40,9.17
3,3,Kapaa,US,2020-11-08 22:01:34,22.08,-159.32,81.00,69,40,11.41
5,5,Uvalde,US,2020-11-08 22:02:23,29.37,-99.77,81.00,47,40,10.29
7,7,Buala,SB,2020-11-08 22:02:24,-8.14,159.59,84.60,68,52,6.82
13,13,Honiara,SB,2020-11-08 22:02:26,-9.43,159.95,82.40,78,40,3.36
17,17,Vila Velha,BR,2020-11-08 22:02:27,-20.33,-40.29,78.80,83,0,18.34
19,19,Morondava,MG,2020-11-08 22:02:27,-20.28,44.28,80.49,79,29,8.41
20,20,Kalianget,ID,2020-11-08 22:02:27,-7.05,113.93,81.59,74,93,4.50
21,21,Alamos,MX,2020-11-08 22:00:00,27.02,-108.93,86.00,61,27,5.01
22,22,Vaini,TO,2020-11-08 22:01:42,-21.20,-175.20,77.00,78,20,6.93

In [12]:
preferred_cities_df.count()

City_ID       166
City          166
Country       165
Date          166
Lat           166
Lng           166
Max Temp      166
Humidity      166
Cloudiness    166
Wind Speed    166
dtype: int64

In [13]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

             City Country  Max Temp    Lat     Lng Hotel Name
1   San Cristobal      VE     82.40   7.77  -72.22
3           Kapaa      US     81.00  22.08 -159.32
5          Uvalde      US     81.00  29.37  -99.77
7           Buala      SB     84.60  -8.14  159.59
13        Honiara      SB     82.40  -9.43  159.95
17     Vila Velha      BR     78.80 -20.33  -40.29
19      Morondava      MG     80.49 -20.28   44.28
20      Kalianget      ID     81.59  -7.05  113.93
21         Alamos      MX     86.00  27.02 -108.93
22          Vaini      TO     77.00 -21.20 -175.20

In [14]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [16]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
try:
    hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
except (IndexError):
    print("Hotel not found... skipping.")

             City Country  Max Temp    Lat     Lng Hotel Name
1   San Cristobal      VE      82.4   7.77  -72.22
3           Kapaa      US      81.0  22.08 -159.32
5          Uvalde      US      81.0  29.37  -99.77
7           Buala      SB      84.6  -8.14  159.59
13        Honiara      SB      82.4  -9.43  159.95

In [18]:
hotel_df.head

,City,Country,Max Temp,Lat,Lng,Hotel Name
1,San Cristobal,VE,82.40,7.77,-72.22,
3,Kapaa,US,81.00,22.08,-159.32,
5,Uvalde,US,81.00,29.37,-99.77,
7,Buala,SB,84.60,-8.14,159.59,
13,Honiara,SB,82.40,-9.43,159.95,
...,...,...,...,...,...,...
536,Goure,NE,75.00,13.98,10.27,
537,Mangrol,IN,78.10,21.12,70.12,
540,Mount Isa,AU,80.60,-20.73,139.50,
541,Chokwe,MZ,85.77,-24.53,32.98,
548,Ixtapa,MX,84.20,20.70,-105.20,Container Inn Puerto Vallarta

In [19]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [24]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [29]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [30]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))